<section class="row" data-ng-controller="LoanRequestFormController">
	<div class="page-header">
		<h1>Loan request form</h1>
	</div>
	
	<form>
		<div class="page-header">
			<h3>Property related Criteria</h3>
		</div>
		<div class="row">
			<div class="col-md-4">Locations:</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="locationSelect">Select:</label>
							<div class="col-sm-10">
								<select id="locationSelect" class="form-control">
									<option>California</option>
								</select>
							</div>
						</div>
					</div>
				</div><br />
				<div class="well locations">
					<div class="row">
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Alameda County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Del Norte County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Kern County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Mariposa County</input>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Alpine County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">El Dorado County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Kings County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Orange County</input>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">San Diego County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Sierra County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">San Mateo County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Santa Barbara County</input>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Alpine County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">El Dorado County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Kings County</input>
							</label>
						</div>
						<div class="col-md-3">
							<label class="radio-inline">
								<input type="radio" name="location">Orange County</input>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Property type:</div>
			<div class="col-md-8">
				<label class="radio-inline">
					<input type="radio" name="propertyType">Multifamily</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="propertyType">Industrial</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="propertyType">Self storage</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="propertyType">Senior</input>
				</label>
			</div>
		</div>
		
		<div class="page-header">
			<h3>Loan related Criteria</h3>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Loan amount:</div>
			<div class="col-md-8">
				<label class="radio-inline">
					<input type="radio" name="loanAmount">$0 - $500,000</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="loanAmount">$500,001 - $1,000,000</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="loanAmount">$1,000,001 - $1,500,000</input>
				</label>
			</div>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Loan to value:</div>
			<div class="col-md-8">
				<label class="radio-inline">
					<input type="radio" name="loanValue">0% - 50%</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="loanValue">51% - 60%</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="loanValue">61% - 70%</input>
				</label>
			</div>
		</div>
		
		<div class="page-header">
			<h3>Sponsor related Criteria</h3>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Net worth (in proportion to loan):</div>
			<div class="col-md-8">
				<label class="radio-inline">
					<input type="radio" name="netWorth">0 - 0.5x</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="netWorth">0.6x - 1x</input>
				</label>
				<label class="radio-inline">
					<input type="radio" name="netWorth">1.1x - 2x</input>
				</label>
			</div>
		</div><br />
		
		<div class="text-center">
			<button type="reset" class="btn btn-default">Clear</button>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Loan Request</button>
		</div>
	</form>
</div>