<section class="row" data-ng-controller="LenderCriteriaFormController">
	<div class="page-header">
		<h1>Lending criteria</h1>
	</div>
	
	<form>
		<div class="page-header">
			<h3>Property related Criteria</h3>
		</div>
		<div class="row">
			<div class="col-md-4">Locations:</div>
			<div class="col-md-4">
				<p>Selected MSAs</p>
				<div class="list-group">
					<a href="#" class="list-group-item">
						Los Angeles - Long Beach - Santa Ana
						<span class="pull-right">
							<button type="button" class="close">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
						</span>
					</a>
					<a href="#" class="list-group-item">
						Riverside - San Bernardino - Ontario
						<span class="pull-right">
							<button type="button" class="close">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
						</span>
					</a>
					<a href="#" class="list-group-item">
						Sacramento - Arden Arcade - Roseville
						<span class="pull-right">
							<button type="button" class="close">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
						</span>
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-search"></span>
					<input type="text" class="form-control" id="search" placeholder="Search">
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">San Francisco - Oakley - Hayward</a>
					<a href="#" class="list-group-item">San Diego - Carlsbad</a>
					<a href="#" class="list-group-item">San Luis - Obispo</a>
				</div>
			</div>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Property type:</div>
			<div class="col-md-8">
				<label class="checkbox-inline">
					<input type="checkbox">Multifamily</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">Industrial</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">Self storage</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">Senior</input>
				</label>
				<div class="pull-right">
					<input type="checkbox" checked="checked" />
				</div>
			</div>
		</div>
		
		<div class="page-header">
			<h3>Loan related Criteria</h3>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Loan amount:</div>
			<div class="col-md-8">
				<label class="checkbox-inline">
					<input type="checkbox">$0 - $500,000</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">$500,001 - $1,000,000</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">$1,000,001 - $1,500,000</input>
				</label>
				<div class="pull-right">
					<input type="checkbox" checked="checked" />
				</div>
			</div>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Loan to value:</div>
			<div class="col-md-8">
				<label class="checkbox-inline">
					<input type="checkbox">0% - 50%</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">51% - 60%</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">61% - 70%</input>
				</label>
				<div class="pull-right">
					<input type="checkbox" checked="checked" />
				</div>
			</div>
		</div>
		
		<div class="page-header">
			<h3>Sponsor related Criteria</h3>
		</div>
		<div class="row lenderAttribute">
			<div class="col-md-4">Net worth (in proportion to loan):</div>
			<div class="col-md-8">
				<label class="checkbox-inline">
					<input type="checkbox">0 - 0.5x</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">0.6x - 1x</input>
				</label>
				<label class="checkbox-inline">
					<input type="checkbox">1.1x - 2x</input>
				</label>
				<div class="pull-right">
					<input type="checkbox" checked="checked" />
				</div>
			</div>
		</div><br />
		
		<div class="text-center">
			<button type="reset" class="btn btn-default">Restore</button>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save Criteria</button>
		</div>
	</form>
</section>