<section class="row" data-ng-controller="LoanRequestFormController">
	<div class="page-header">
		<h1>Loan requests and criteria</h1>
	</div>
	<!-- </div> -->
		
	<div class="row">
		<div class="col-md-5">
			<div class="page-header">
				<h3>Filters for Loan requests</h3>
			</div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="dateFrom" class="col-sm-4 control-label">Date range</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="dateFrom" placeholder="Date from">
					</div>
					<label for="dateTo" class="col-sm-1 control-label">to</label>
					<div class="col-sm-3">
						<input type="date" class="form-control" id="dateTo" placeholder="Date to">
					</div>
				</div>
				<div class="form-group">
					<label for="loanToValueFrom" class="col-sm-4 control-label">Loan to value</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="loanToValueFrom" placeholder="Loan to value from">
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<label for="loanToValueTo" class="col-sm-1 control-label">to</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="loanToValueTo" placeholder="Loan to value to">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="propertyType" class="col-sm-4 control-label">Property type</label>
					<div class="col-sm-8">
						<label class="checkbox-inline">
							<input type="checkbox">multifamily</input>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox">office</input>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox">self-storage</input>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox">mobile home</input>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="loanAmountFrom" class="col-sm-4 control-label">Loan amount per</label>
					<div class="col-sm-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control" id="loanAmountFrom" placeholder="Loan amount from">
						</div>
					</div>
					<label for="loanAmountTo" class="col-sm-1 control-label">to</label>
					<div class="col-sm-3">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control" id="loanAmountTo" placeholder="Loan amount to">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-4 control-label">Title</label>
					<div class="col-sm-8">
						<label class="checkbox-inline">
							<input type="checkbox">Fee simple</input>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox">Leasehold interest</input>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="currentVacancyFrom" class="col-sm-4 control-label">Current vacancy</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="currentVacancyFrom" placeholder="Current vacancy from">
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<label for="currentVacancyTo" class="col-sm-1 control-label">to</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="currentVacancyTo" placeholder="Current vacancy to">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="rates" class="col-sm-4 control-label">Rates</label>
					<div class="col-sm-8">
						<label class="checkbox-inline">
							<input type="checkbox">Fixed</input>
						</label>
						<label class="checkbox-inline">
							<input type="checkbox">Variable</input>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="rates" class="col-sm-4 control-label">Sponsor bankruptcy in last 3 years</label>
					<div class="col-sm-8">
						<label class="radio-inline">
							<input type="radio" id="sponsorBankruptcy" name="sponsorBankruptcy">Yes</input>
						</label>
						<label class="radio-inline">
							<input type="radio" id="sponsorBankruptcy" name="sponsorBankruptcy">No</input>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="debtYield" class="col-sm-4 control-label">Debt yield</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="debtYieldFrom" placeholder="Debt yield from">
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<label for="currentVacancyTo" class="col-sm-1 control-label">to</label>
					<div class="col-sm-3">
						<div class="input-group">
							<input type="text" class="form-control" id="debtYieldTo" placeholder="Debt yield to">
							<span class="input-group-addon">%</span>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button type="reset" class="btn btn-default">Reset</button>
					<button type="submit" class="btn btn-primary">Apply</button>
				</div>
			</form>
		</div>
		
		<div class="col-md-7">
			<div class="page-header">
				<h3>Loan requests</h3>
			</div>
			<p><span>28</span> loan request/s found</p>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Request 1</h4>
					<p class="list-group-item-text">
						Loan to value: 70%	Location: San Francisco	Title: Fee Simple	Property Type: Land		Age since construction: 5 years
					</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Request 2</h4>
					<p class="list-group-item-text">
						Loan to value: 60%	Location: Los Angeles	Title: Fee Simple	Property Type: House		Age since construction: 2 years
					</p>
				</a>
			</div>
		</div>
	</div>
</div>