<section class="row" data-ng-controller="SignupController">
	<div class="page-header">
		<h1>Sign up <small>as a borrower or a lender</small></h1>
	</div>
	<div class="row">
		<div class="col-md-6" data-ng-click="showBorrowerSignUp()">
			<div class="panel panel-default userOption">
				<div class="panel-heading"><strong>Borrower</strong></div>
				<div class="panel-body">
					Borrower description
				</div>
			</div>
		</div>
		<div class="col-md-6" data-ng-click="showLenderSignUp()">
			<div class="panel panel-default userOption">
				<div class="panel-heading"><strong>Lender</strong></div>
				<div class="panel-body">
					Lender description
				</div>
			</div>
		</div>
	</div>
</section>