<section class="row" data-ng-controller="BorrowerController">
	<div class="page-header">
		<h1>Borrower <small>sign up</small></h1>
	</div>
	
	<div class="alert alert-danger" role="alert" data-ng-show="borrowerSignUpErrors">
		<p>Error(s) encountered:</p>
		<ul>
			<li data-ng-repeat="borrowerSignUpError in borrowerSignUpErrors track by $index"><span>{{ borrowerSignUpError.message }}</span></li>
		</ul>
	</div>
	<div class="alert alert-info" role="alert">Fields with <span class="glyphicon glyphicon-asterisk form-control-feedback"></span> are required</div>
	<form name="borrowerSignUpForm" role="form" method="POST" data-ng-submit="borrowerSignUp(borrower)">
		<div class="page-header">
			<h3>Borrower details <small>and particulars</small></h3>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback" 
						data-ng-class="{ 'has-success' : borrowerSignUpForm.name.$valid, 'has-error' : borrowerSignUpForm.name.$invalid  }">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Name" required="required" data-ng-model="borrower.name" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.description.$valid, 'has-error' : borrowerSignUpForm.description.$invalid  }">
					<label for="description">Description</label>
					<textarea id="description" name="description" class="form-control" rows="3" placeholder="Tell us something about you" required="required" data-ng-model="borrower.desc"></textarea>
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
		</div>
		
		<div class="page-header">
			<h3>User details <small>create a user</small></h3>
		</div>
		<div class="alert alert-danger" role="alert" data-ng-show="(borrowerSignUpForm.password1.$valid && borrowerSignUpForm.password2.$valid) && borrower.users[0].password !== borrower.users[0].password2"><span class="glyphicon glyphicon-remove"></span> Passwords don't match</div>
		<div class="alert alert-success" role="alert" data-ng-show="(borrowerSignUpForm.password1.$valid && borrowerSignUpForm.password2.$valid) && borrower.users[0].password === borrower.users[0].password2"><span class="glyphicon glyphicon-ok"></span> Passwords match. You may proceed.</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.username.$valid, 'has-error' : borrowerSignUpForm.username.$invalid }">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Username" required="required" data-ng-model="borrower.users[0].username" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group has-feedback" data-ng-class="{ 'has-success' : borrowerSignUpForm.password1.$valid && borrower.users[0].password === borrower.users[0].password2, 'has-error' : borrower.users[0].password !== borrower.users[0].password2 || !borrowerSignUpForm.password1.$valid }">
					<label for="password1">Password</label>
					<input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required="required" data-ng-model="borrower.users[0].password" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group has-feedback" data-ng-class="{ 'has-success' : borrowerSignUpForm.password2.$valid && borrower.users[0].password === borrower.users[0].password2, 'has-error' : borrower.users[0].password !== borrower.users[0].password2 || borrowerSignUpForm.password2.$invalid }">
					<label for="password2">Reenter password</label>
					<input type="password" class="form-control" id="password2" name="password2" placeholder="Reenter password" required="required" data-ng-model="borrower.users[0].password2" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.firstname.$valid, 'has-error' : borrowerSignUpForm.firstname.$invalid }">
					<label for="firstname">First name</label>
					<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" required="required" data-ng-model="borrower.users[0].userContact.firstName" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.lastname.$valid, 'has-error' : borrowerSignUpForm.lastname.$invalid }">
					<label for="lastname">Last name</label>
					<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" required="required" data-ng-model="borrower.users[0].userContact.lastName" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.addressLine1.$valid, 'has-error' : borrowerSignUpForm.addressLine1.$invalid }">
					<label for="addressLine1">Address Line 1</label>
					<input type="text" class="form-control" id="addressLine1" name="addressLine1" placeholder="Address Line 1" required="required" data-ng-model="borrower.users[0].userContact.contactAddress.addressLine1" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="addressLine2">Address Line 2</label>
					<input type="text" class="form-control" id="addressLine2" placeholder="Address Line 2" data-ng-model="borrower.users[0].userContact.contactAddress.addressLine2" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.city.$valid, 'has-error' : borrowerSignUpForm.city.$invalid }">
					<label for="city">City</label>
					<input type="text" class="form-control" id="city" name="city" placeholder="City" required="required" data-ng-model="borrower.users[0].userContact.contactAddress.city" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.state.$valid, 'has-error' : borrowerSignUpForm.state.$invalid }">
					<label for="state">State</label>
					<input type="text" class="form-control" id="state" name="state" placeholder="State" required="required" data-ng-model="borrower.users[0].userContact.contactAddress.state" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.zipcode.$valid, 'has-error' : borrowerSignUpForm.zipcode.$invalid  }">
					<label for="zipcode">Zip code</label>
					<input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip code" required="required" data-ng-model="borrower.users[0].userContact.contactAddress.zipcode" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.phone1.$valid, 'has-error' : borrowerSignUpForm.phone1.$invalid  }">
					<label for="phone1">Phone</label>
					<input type="text" class="form-control" id="phone1" name="phone1" required="required" placeholder="Phone" data-ng-model="borrower.users[0].userContact.phone1" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="phone2">Alternate Phone</label>
					<input type="text" class="form-control" id="phone2" placeholder="Alternate Phone" data-ng-model="borrower.users[0].userContact.phone2" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.email1.$valid, 'has-error' : borrowerSignUpForm.email1.$invalid  }">
					<label for="email1">Email</label>
					<input type="email" class="form-control" id="email1" name="email1" required="required" placeholder="Email" data-ng-model="borrower.users[0].userContact.email1" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group"
						data-ng-class="{ 'has-success' : borrowerSignUpForm.email2.$valid && (borrower.users[0].userContact.email2 !== undefined && borrower.users[0].userContact.email2 !== ''), 'has-error' : borrowerSignUpForm.email2.$invalid && (borrower.users[0].userContact.email2 !== undefined || borrower.users[0].userContact.email2 !== '') }">
					<label for="email2">Alternate Email</label>
					<input type="email" class="form-control" id="email2" name="email2" placeholder="Alternate Email" data-ng-model="borrower.users[0].userContact.email2" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="timeToContact">Preferred time to contact</label>
					<input type="text" class="form-control" id="timeToContact" placeholder="Preferred time to contact" data-ng-model="borrower.users[0].userContact.preferedTime" />
				</div>
			</div>
		</div>
		
		<div class="text-center">
			<a href="#!/" class="btn btn-default">Cancel</a>
			<button type="submit" class="btn btn-primary" 
				ng-disabled="borrowerSignUpForm.$invalid ||
							borrower.users[0].password !== borrower.users[0].password2">
				<span class="glyphicon glyphicon-ok-sign"></span> Sign up
			</button>
		</div>
	</form>
</section>